<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>[[.Title]]</title>
  <link rel="shortcut icon" type="image/png" href="/-/assets/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/-/assets/bootstrap-3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/-/assets/font-awesome-4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/-/assets/css/github-markdown.css">
  <link rel="stylesheet" type="text/css" href="/-/assets/css/dropzone.css">
  <link rel="stylesheet" type="text/css" href="/-/assets/css/scrollUp-image.css">
  <link rel="stylesheet" type="text/css" href="/-/assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="/-/assets/themes/[[.Theme]].css">
</head>

<body id="app">
  <div class="container">
    <div class="col-md-12">
      <table class="table table-hover" v-if="!previewMode">
        <thead>
          <tr>
            <td colspan=4>
              <!-- <button class="btn btn-lg btn-default" v-on:click='toggleHidden()'>
                Back <i class="fa" v-bind:class='showHidden ? "fa-eye" : "fa-eye-slash"'></i>
              </button> -->
              <div>
                <button class="btn btn-lg btn-default" onclick="history.back()">
                  Back <i class="fa fa-arrow-left"></i>
                </button>
              </div>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="f in computedFiles">
            <td>
              <a v-on:click='clickFileOrDir(f, $event)' href="/{{f.path + (f.type == 'dir' ? '' : '')}}">
                <!-- ?raw=false -->
                <i style="padding-right: 0.5em" class="fa" v-bind:class='genFileClass(f)'></i> {{f.name}}
              </a>
              <!-- for search -->
              <button v-show="f.type == 'file' && f.name.indexOf('/') >= 0" class="btn btn-default btn-lg" @click="changeParentDirectory(f.path)">
                <i class="fa fa-folder-open-o"></i>
              </button>
            </td>
            <td style="text-align: left">
              <template v-if="f.type == 'dir'">
                <a class="btn btn-default btn-lg" href="/{{f.path}}/?op=archive">
                  <span class="hidden-xs">Download</span>
                  <span class="glyphicon glyphicon-download-alt"></span>
                </a>
              </template>
              <template v-if="f.type == 'file'">
                <a class="btn btn-default btn-lg hidden-xs" href="{{genDownloadURL(f)}}">
                  <span class="hidden-xs">Download</span>
                  <span class="glyphicon glyphicon-download-alt"></span>
                </a>
              </template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-12" id="preview" v-if="preview.filename">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" style="font-weight: normal">
            <i class="fa" v-bind:class='genFileClass(previewFile)'></i> {{preview.filename}}
          </h3>
        </div>
        <div class="panel-body">
          <article class="markdown-body">{{{preview.contentHTML }}}
          </article>
        </div>
      </div>
    </div>
    <div class="col-md-12" id="content">
      <!-- Small qrcode modal -->
      <div id="qrcode-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">
                <span id="qrcode-title"></span>
                <a style="font-size: 0.6em" href="#" id="qrcode-link">[view]</a>
              </h4>
            </div>
            <div class="modal-body clearfix">
              <div id="qrcodeCanvas" class="pull-left"></div>
              <div id="qrcodeRight" class="pull-left">
                <p>
                  <a href="#">下载链接</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Upload modal-->
      <div id="upload-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">
                <i class="fa fa-upload"></i> File upload
              </h4>
            </div>
            <div class="modal-body">
              <form action="#" class="dropzone" id="upload-form"></form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" @click="removeAllUploads">RemoveAll</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- File info modal -->
      <div id="file-info-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">
                <span id="file-info-title"></span>
              </h4>
            </div>
            <div class="modal-body">
              <pre id="file-info-content"></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div id="footer" class="pull-right" style="margin: 2em 1em">
        <a href="https://github.com/codeskyblue/gohttpserver">gohttpserver (ver:{{version}})</a>, written by <a href="https://github.com/codeskyblue">codeskyblue</a>.
        Copyright 2016-2018. go1.10
      </div>
    </div>
  </div>
  <script src="/-/assets/js/jquery-3.1.0.min.js"></script>
  <script src="/-/assets/js/jquery.qrcode.js"></script>
  <script src="/-/assets/js/jquery.scrollUp.min.js"></script>
  <script src="/-/assets/js/qrcode.js"></script>
  <script src="/-/assets/js/vue-1.0.min.js"></script>
  <script src="/-/assets/js/showdown-1.6.4.min.js"></script>
  <script src="/-/assets/js/moment.min.js"></script>
  <script src="/-/assets/js/dropzone.js"></script>
  <script src="/-/assets/js/underscore-min.js"></script>
  <script src="/-/assets/js/clipboard-1.5.12.min.js"></script>
  <script src="/-/assets/bootstrap-3.3.5/js/bootstrap.min.js"></script>
  <script src='/-/assets/[["js/index.js" | urlhash ]]'></script>
  <!-- <script src="/-/assets/js/index.js"></script> -->
  [[if .GoogleTrackerID ]]
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', '[[.GoogleTrackerID]]', 'auto');
    ga('send', 'pageview');
  </script> [[ end ]]
</body>

</html>